/!\ Avant de vous lancer dans l'installation du projet, veuillez vous assurer que votre machine tourne sur une version stable de Windows 10 ou 11.
/!\ Si vous choisissez d'utiliser le fichier exécutable du jeu, il est possible que celui-ci ne se lance pas dans les versions les plus anciennes de Windows 10. Pour corriger cela, allez dans le menu "Clic Droit -> Propriétés -> Compatibilité" et laissez Windows corriger les problèmes de compatibilité pour vous.


>>> Dépendances Python du projet :

- Tkinter (incluant ttk) : Interface graphique du jeu,
- Pillow (et pil-supporter pour Thonny) : Textures du jeu,
- Time : Minuterie en jeu & compteur de FPS, 
- Json : Création et gestion des niveaux dans le jeu ainsi que dans l'éditeur, et gestion des paramètres du jeu,
- Subprocess : Ouverture de l'éditeur de niveaux depuis le programme principal,
- Threading : Module complémentaire de Subprocess pour garder la trace de la fenêtre de l'éditeur lancée,
- Sys : Compilation du jeu en fichier.exe avec toutes ses dépendances,
- Os : Gestion relative des chemins d'accès aux ressources du jeu, notamment pour accéder au répertoire appdata/local pour y stocker les paramètres de l'utilisateur,
- Shutil : Création du dossier Sisyphe.io et de son fichier settings.json dans le répertoire appdata/local,
- Pygame : Implémentation des sons ainsi que de la musique dans le jeu,
- Sqlite3 : Système de stockage et d'affichage de scores pour chaque monde en SQL,
- Datetime : Récupère la date et l'heure actuelles pour la base de données.

- Le site internet du jeu utilise des bibliothèques de code indépendantes non modifiées fournies par des tiers : 



>>> Pré-requis de mise en route :

1. Installez le logiciel Thonny sur votre machine
   - https://thonny.org/ : site de téléchargement officiel du logiciel
2. Une fois le logiciel installé, téléchargez le code source du projet depuis l'adresse https://sisyphe.acciaw.me ou depuis le projet GitHub
   - Assurez-vous de décompresser le jeu dans un dossier facile d'accès sur votre machine
4. Ouvrez le répertoire "source" du projet puis double-cliquez sur le fichier "sisyphe.io_beta_v1.0.py" ou accédez au menu Clic-Droit -> Ouvrir avec -> Thonny
5. Une fois le fichier ouvert dans Thonny, il vous faudra installer ses dépendances en vous rendant sur le menu Outils -> Gérer les paquets...
6. Dans la fenêtre suivante, vous devrez rechercher puis installer les modules suivants : "pillow", "pil-supporter", "pygame"
7. Assurez-vous que la variable "fichier_exe" à la ligne 25 du fichier Python est initialisée à "False"
8. Il ne vous reste plus qu'à cliquer sur le bouton vert Excécuter le script courant ou sur la touche F5
9. Si le projet ne se lance pas avec comme erreur une clé manquante, ouvrez et exécutez avec Thonny le fichier Python "del_save.py" se trouvant dans le répertoire "assets" du projet.



>>> Sources Utilisées

- Toutes les musiques proviennent du jeu [Undertale Yellow](https://gamejolt.com/games/UndertaleYellow/136925) : 
   - Menu : [OST: 051 - Feisty!](https://youtu.be/hvl1GqD-Vis)
   - Sélection de mondes : [OST: 056 - The Stable](https://youtu.be/owAVwJ5-EaE)
   - Paramètres : [OST: 053 - Happy Hour](https://youtu.be/T0IRbP1Z2pI?si=fZkLpd8WWcjTBq68)
   - Éditeur : [OST: 081 - Build-A-Bot](https://youtu.be/ut-_p-P9lsI)
   - Monde 1 : [OST: 012 - Seclusion](https://youtu.be/CinLLgjqUqI)
   - Monde 2 : [OST: 037 - Mining Co](https://youtu.be/wJVubgGxUwI)
   - Monde 3 : [OST: 055 - The Wild East](https://youtu.be/5Q6Ss9uoQhE)
   - Monde 4 : [OST: 035 - Vigorous Terrain](https://youtu.be/PuHE_GRzT5Q)
   - Monde 5 : [OST: 070 - Showdown!](https://youtu.be/b4Z_GFpXScI)
   - Crédits (inutilisée) : [OST: 067 - Deal 'Em Out](https://www.youtube.com/watch?v=IetJ8URgg5c)
- Tous les sons du jeu proviennent du site internet https://freesound.org/ sous la **licence Creative Commons Zero**,
- Le personnage a été créé en utilisant le site de personnalisation [Universal-LPC-Spritesheet-Character-Generator](https://sanderfrenken.github.io/Universal-LPC-Spritesheet-Character-Generator),
- Les illustrations du jeu (logos/Image de présentation) ont été réalisées par **Arthur BARBEROUSSE**, élève du lycée Edmond Perrier en classe de Terminale.
